<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img width="75" src="https://seeklogo.com/images/F/flipkart-logo-90D5271339-seeklogo.com.png" alt="Flipkart" title="Flipkart" class="_2xm1JU">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">        

          <li>
            <form class="d-flex search-box" role="search">
                <input class="form-control me-2" #search (keyup)="searhByEnteredText(search.value)" type="text" placeholder="Search for products, brands and more" aria-label="Search">
                <i class="bi bi-search btnsearch-icon"></i>
                <button class="btn btn-primary search-btn" type="submit"data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
              </form>
          </li>

          <li class="nav-item">
            <a class="nav-link active home-link" aria-current="page" href="#">Become a Seller</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active home-link" aria-current="page" href="#"><i class="bi bi-cart4"></i> &nbsp;<span>Cart</span></a>
          </li>
        
        </ul>
      
      </div>
    </div>
  </nav>


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">     
      <div class="modal-body">
        <app-sign-in *ngIf="IsActive =='sign-In'" (actionEmit)="emittedAction($event)"></app-sign-in>
        <app-sign-up *ngIf="IsActive =='sign-Up'" (actionEmit)="emittedAction($event)"></app-sign-up>
      </div>      
    </div>
  </div>
</div>