
.first-section{
     background-color: rgb(21, 21, 139);
     color:white;
     //border-radius: 10px;
     text-align: center;
     width: 400px;  
     font-weight: 700;
     
    }

h4{
    margin-top:50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.sign-in-form{
    margin: 20px;
    width: 500px;
 }

 #flipcart-img{
    height: 120px;
 }
 
 input.ng-invalid{ border: 1px solid red ;}
 input.ng-valid{ border: 1px solid green; }

 small{
    font-weight: 400;
    color: rgb(96, 21, 21);
 }
 